## TCM Domain Sections

### Formulas
{{ dv.build_file_list_query(capsule_id, 'formula') }}

### Herbs
{{ dv.build_file_list_query(capsule_id, 'herb') }}

### Patterns
{{ dv.build_file_list_query(capsule_id, 'pattern') }}
